#hotdiv, #celebdiv, #rbardiv{
    margin-left: 50px;
}
#releasedays {
    margin-left: 30px;
}
#rdays, #begin, #end {
    width: 40px;
    margin-left: 5px;
    -moz-appearance: textfield;
}
#tpspan {
    margin-left: 30px;
}
button {
    margin-left: 10px;
}
